PORT=3000
JWT_SECRET=super_secreto_123
ADMIN_SETUP_KEY=crear_admin_2026
ADMIN_RESET_KEY=reset_admin_2026

SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=587
SMTP_USER=usuario_de_mailtrap
SMTP_PASS=contraseña_de_mailtrap